* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.App {
  display: flex;
  /* justify-content: center; */
  padding: 100px 5px 100px 20px;
  /* align-items: center; */
  min-height: 100vh;
}
nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 10;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .App {
    display: flex;
    /* justify-content: center; */
    padding: 100px 0px 100px 0px;
    /* align-items: center; */
    min-height: 100vh;
    margin: 0px auto;
    align-items: center;
  }
}
