:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #f5f5f5;
  --color-task: #fbfbfb;
  /* --color-bg: #040c18; */
  --color-footer: #031b34;
  --color-divider: #c4c4c4;
  --color-text: #464b4e;
  /* --color-text: #748fa0; */
  --color-primary: #e6f2f8;
  --color-background: #fafafa;
  --color-sidebar: #323e4d;
  --color-button: #47bb7f;
  color: var(--color-text);
}
p,
div {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background: #000;
}
